
@import url('https://fonts.googleapis.com/css2?family=Georama:wght@300;500;600;700;800;900&display=swap');



* {
    font-family: Georama, sans-serif;
    scroll-behavior: smooth;
}
.logo {
    width: 330px;
    height: 60px;
}

.navigation {
    font-size: 13px;
}

.maindiv{
    background-image: url(/img/cyber-security-3400657_1280.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    
}

.featsection {
    background-color: #F8F9F9;

}

.screenshot {
    background-color: #F8F9F9;
}

.upbtn {
    position: absolute;
    right: 20px;
    
    
}